* 
{
	font-family: 'Ubuntu', sans-serif;
}
html {
	font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
	background: url('../backgrounds/clouds.jpg') top left repeat-x;
	margin:0px;
	padding:0px;

}
header img#logo {
	float:left;
}

#site_footer {
	height:200px;
}
div#site_footer_container {
	border-top:#cccccc 2px solid;
	background:#eeeeee;
}


