@import 'grid.scss';

$columns: 12;
$column-width: 60;
$gutter-width: 20;

body {
	background: black;
	color:white;
}
nav,
section p,
section code,
section ul,
header {
	width:70%;
	max-width:980px;
	min-width:400px;
	margin-left:auto;
	margin-right:auto;
}
section ul li {
	padding-left:10px;
	margin-left:10px;
}
pre code {
	display:block
}
nav li {
	margin-top:10px;
}
nav li {
	float:right;
	list-style:none;
}
section img {
	display:block;
	padding:10px;
	background:#111111;
	margin-left:auto;
	margin-right:auto;
}

