* 
{
	font-family: 'Ubuntu', sans-serif;
	font-size:24px;
}
html 
{
	font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
	background: url('/images/backgrounds/clouds.jpg') top left repeat-x;
	margin:0px;
	padding:0px;

}
header, article, footer {
 	min-width:600px;
	width: 80%;
	clear:both;
	margin:0px auto;
}
article header {
	margin:0px 0px;
}
header img#logo {
	float:left;
}
header {
	margin-top:-50px;
	margin-bottom:20px;
}

