extends layout

block header
  include author
  a.back(href='/') << back to index
  h1= page.title
  p.author
    | #{ 'Written by ' }
    +author(page.metadata.author)

block content
 article.post
   header
     h2
       a(href)= page.title
  
   section.content!= page.html

     h2
         a.commentCount(href="https://github.com/Mpdreamz/localghost.io/issues/"+ page.metadata.commentid)
          | Comments       

     p.comments Comments on this post are linked to 
       a.commentLink(href="https://github.com/Mpdreamz/localghost.io/issues/"+ page.metadata.commentid, data-api="https://api.github.com/repos/Mpdreamz/localghost.io/issues/"+ page.metadata.commentid +"/comments")
          | this post's issue page on GitHub


