!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='/css/initializer.css')
      link(rel='stylesheet', href='/css/github.css')
      link(rel='stylesheet', href='/css/fluid.css')
      link(rel='stylesheet', href='/css/theme.css')
      link(rel='stylesheet', href='/css/finalizer.css')

      script(src='/js/libs/modernizr-2.0.min.js')
      script(src='/js/libs/polyfills.js') 
      script(src='/js/libs/jquery-1.6.2.min.js')
      script(src='/js/script.js')
  body
    header.clearfix
      img#logo(src='/images/backgrounds/logo-32.png')      
      nav
        ul
          li
            a(href='/') Blog
          li.sep |
          li
            a(href='/projects') Projects
          li.sep |
          li
            a.selected(href='about-me') About Me
    block content
    footer
      h4 What to do with this footer? 
